.retryContainer {
  display: flex;
  align-self: start;
  width: 100%;
  font-size: 14px;
  color: #97a1af;
}

.retryLink {
  width: 100%;
  max-width: 328px;
  color: #344051;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
